<ion-toolbar style="padding: 12;align-content:center;text-align:center;">
  <ion-buttons slot="start">
  </ion-buttons>
  <ion-title>Logar</ion-title>
</ion-toolbar>

<ion-content fullscreen>
  <form>
    <ion-item>
      <ion-label position="floating" >Email</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-row style="display: flex;align-items: center;align-content: center;text-align: center;">
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="login()">Sign In</ion-button>
      </ion-col>
      <ion-col>
      <a [routerLink]="['/cadastro']" routerLinkActive="active" class="small-text" >Cadastro</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>



