<ion-toolbar style="padding: 12;align-content:center;text-align:center;">
  <ion-buttons slot="start">
  </ion-buttons>
  <ion-title>Logar</ion-title>
</ion-toolbar>

<ion-content fullscreen>
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
        <a routerLink="/tabs/reg" routerLinkActive="active" class="small-text">Cadastro</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-content>
  <app-tabs></app-tabs>
</ion-content>



