<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Get your movies !
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
<ion-card>
  <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-out;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://seeklogo.com/images/U/unisuam-logo-F9DC14A346-seeklogo.com.png" />
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title style="display:flex;align-items: center;justify-content:center;">  AV 2 - Desenvolvimento Móvel </ion-card-title>
  </ion-card-header>
  <ion-card-content>
   Desenvolvedores <br/> - Rhuan Felipe Pasti <br/> - Gabriel Maia
  </ion-card-content>
</ion-card>
</ion-content>




