<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tela de Apresentação
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
<ion-card>
  <img style="display:block;-webkit-user-select:none;margin:auto;cursor:zoom-out;background-color:hsl(0, 0%, 90%);transition: background-color 300ms;" src="../../assets/movies.jpg" />
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title style="display:flex;align-items: center;justify-content:center;">  - Aplicativo utilizando a API do themoviedb <br><br> - Autenticação de usuário feita pelo firebase </ion-card-title>
  </ion-card-header>
  <ion-card-content>
   Desenvolvedor <br/> - Rhuan Felipe Pasti 
   <br>
   
  </ion-card-content>
</ion-card>
</ion-content>




