<ion-toolbar style="margin-top:30%;align-content:center;text-align:center;">
  <ion-buttons slot="start">
  </ion-buttons>
  <ion-title>Logar</ion-title>
</ion-toolbar>

<ion-content style="display:flex;align-content:center;text-align:center;">
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Cadastro</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>